.background {
  background-image: url("images/pupusas2.webp");
  width: 100%;
  height: 860px;
  background-size: cover;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 400px;
  left: 150px;
  font-size: 50px;
}

.parag {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 500px;
  left: 150px;
  font-size: 40px;
}

.button {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  color: rgb(214, 174, 115);
  top: 700px;
  left: 150px;
  font-size: 50px;
  border: none;
  padding: 10px 20px;
}
