body {
  font-family: Arial, Helvetica, sans-serif;
}

#git {
  background-color: cadetblue;
}

table,
th,
td {
  border-style: dotted;
  border-collapse: collapse;
  border-color: cadetblue;
  background-color: cadetblue;
}

#copyright {
  text-align: right;
}
