body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
}

#intro {
  text-align: center;
}

/* Css class is on the second_page.html (CSS Page)
We are setting an image, it's psize and make it centered */

.css {
  background-color: lightgrey;
  /*background-image: url("images/job.jpg");*/
  background-size: cover;
  background-position: center center;
}

#git {
  background-color: lightgray;
}

.git {
  border-style: dotted;
  border-collapse: collapse;
  border-color: lightgray;
  background-color: lightgray;
}

.git,
.box {
  margin-right: auto;
  margin-left: auto;
}

.box {
  display: block;
  width: 50%;
}

#copyright {
  text-align: right;
}

.sub {
  border-top: 1px dashed #000000;
}

#links {
  vertical-align: top;
}

a {
  color: cornflowerblue;
}

a:hover {
  color: brown;
  text-transform: capitalize;
}

a:active {
  color: chartreuse;
}

a:visited {
  color: yellow;
  text-transform: lowercase;
}

div.border-red {
  border-width: 4px;
  border-style: dotted;
  border-color: #f00;
  border-radius: 33% 67% 64% 36% / 64% 69% 31% 36%;
  width: 200px;
  height: 200px;
  color: aliceblue;
}
/* 
display: inline;
Position a block element (In this case a div)
side by side even though a div is a block element (Block elements
take all free space.

display: inline-block;
*/
div.block {
  display: inline-block;
  border: 1px solid red;
  width: 200px;
  height: 200px;
}

.code,
.test1 {
  font-size: 15px;
  color: white;
  background-color: rgb(45, 45, 45, 0.7);
}

.code {
  width: 600px;
}

.comment {
  color: #999;
}

.punctuation {
  color: rgb(0, 0, 0);
}

.property {
  color: #be8a17;
}

.selector {
  color: #cc99cd;
}

.test {
  width: 40%;
  height: 300px;
  border: 2px solid green;
  background-position: center center;
  background-size: cover;
  border-radius: 50% 0 50% 0;
  box-shadow: 6px 6px 15px inset #444444;
}

.css {
  background-image: url("images/job.jpg");
  background-size: cover;
}

.test1,
.test {
  display: inline-block;
}

.rocketman {
  background-color: #000000;
}

.logo,
.services,
.contact,
.course {
  display: inline-block;
  border: 1px solid red;
}

.services,
.contact,
.course {
  font-size: 52px;
  padding: 10px 50px;
}

.pupusas {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 500px;
  left: 150px;
  font-size: 50px;
}

.parag {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 700px;
  left: 150px;
  font-size: 40px;
}

.button {
  position: absolute;
  background-color: white;
  color: black;
  top: 900px;
  left: 150px;
  font-size: 50px;
  border: none;
  padding: 10px 20px;
}
