body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
}

/* Css class is on the second_page.html (CSS Page)
We are setting an image, it's psize and make it centered */

.css {
  background-image: url("images/job.jpg");
  background-size: cover;
  background-position: center center;
}

#git {
  background-color: cadetblue;
}

table,
th,
td {
  border-style: dotted;
  border-collapse: collapse;
  border-color: cadetblue;
  background-color: cadetblue;
}

#copyright {
  text-align: right;
}

#links {
  vertical-align: top;
}

a {
  color: cornflowerblue;
}

a:hover {
  color: brown;
  text-transform: capitalize;
}

a:active {
  color: chartreuse;
}

a:visited {
  color: yellow;
  text-transform: lowercase;
}
